/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  margin: 0 auto;
  background-color: var(--background-color, #000028);
  color:var(--text-color, #F1B2CE);
  font-family: var(--main-font, sans-serif, monospace);
  font-size: 18px;
  line-height: 1.3;
  background-image: var(--background-img, url(../images/cover-image-dark.png));
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  position: relative;
  padding: var(--padding, 10px);
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  min-block-size: 100vh;
  margin-block-end:  calc(var(--padding) + 20px);
}

.lamp {
  position: absolute;
  inset: var(--padding) calc(var(--padding) + 10px) auto auto;
  display: var(--display);
  gap: 10px;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: var(--accent-color,  #ff0070);
}

.lamp::after {
  content: '';
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background-color: currentColor;
  box-shadow: 0px 0px 4px 2px currentColor;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  inset: var(--padding) var(--padding) auto auto;
  inline-size: 25px;
  block-size: 25px;
  border-block-start: 1px solid var(--accent-text-color, #ff0070);
  border-inline-end: 1px solid var(--accent-text-color, #ff0070);
}

.decorated-zone::after {
  content: '';
  position: absolute;
  inset: auto auto var(--padding) var(--padding);
  inline-size: 25px;
  block-size: 25px;
  border-block-end: 1px solid var(--accent-text-color, #ff0070);
  border-inline-start: 1px solid var(--accent-text-color, #ff0070);
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0;
  margin: 0;

  min-width: 70px;
}

.header__theme-menu-item {
  margin: 0;
  padding: 0;
}

.header__theme-menu-button {
  background-color: transparent;
  border: 1px solid transparent;
  color: var(--accent-text-color, #ff0070);
  font-family: var(--main-font, sans-serif);
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  text-transform: lowercase;
  padding: 0 12px;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--border-hover-color, rgb(255, 0, 112, 0.4));
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--border-color, #ff0070);
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--border-color, #ff0070);
}

.title {
  color: var(--title-color, #DB00FF);
  font-size: 116px;
  font-weight: bold;
  line-height: 82.5%;
}

.header__title {
  text-shadow: 4px 4px 0 var(--accent-color, #ff0070);
}

.header__description {
  display: block;
  font-size: inherit;
  font-weight: bold;
  line-height: 1.3;
  justify-self: end;
  align-self: center;
}

.title-decor {
  background-color: var(--accent-color, #ff0070);
  color: var(--title-decor-color, #000028);
}

.content {
  padding: var(--padding, 10px);
  display: flex;
  flex-direction: column;
  gap: var(--content-gap);
}

.content__section {
  display: grid;
  gap: 20px;
}

.section__title {
  color: var(--accent-text-color, #ff0070);
  font-size: inherit;
  font-weight: bold;
}

.section__articles {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  gap: 20px;
}

.article__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 1.3;
  margin-block-end: 10px;
}

p a {
  text-decoration: none;
  text-shadow: 4px 4px 0 var(--accent-color, #ff0070);
  cursor: pointer;
}

p a:hover {
  border-bottom: 1px solid var(--text-color, #F1B2CE);
}

p a:focus {
  outline: none;
}

p a:focus-visible {
  outline: 1px solid var(--text-color, #F1B2CE);
  outline-offset: 0px;
}

.section__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section__list-title {
  font-size: inherit;
}

.section__articles_list .article__title {
  margin-block-end: 0;
}

.list__item-title {
  font-weight: normal;
  font-size: inherit;
  margin-block-end: 10px;
}

.content__section_images {
  gap: 0;
}

.foto-grid {
  display: grid;
  gap: 10px;
}

.foto-grid__item {
  line-height: 0;
  font-size: 0;
}

.foto-grid__image {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

.footer {
  position: relative;
  display: grid;
  place-items: center;
  min-block-size: 100vh;
  padding: var(--padding, 10px);
  margin-block-start: calc(var(--padding) + 20px);
}

.footer__title {
  text-shadow: 2px 2px 0 var(--accent-color, #ff0070);
}

@media (max-width: 768px) {
  .title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
}

@media (min-width: 768px) {
  .header, .content, .footer {
    --padding: 20px;
  }

  .header .title {
    position: relative;
    right: var(--padding);
  }

  .content {
    --content-gap: 80px;
  }

  .title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__description {
    width: 50%;
  }

  .content__section-rows {
    grid-template-columns: 1fr 2fr;
  }

  .content__section-columns .section__title {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }

  .section__images .article__title {
    margin-block-end: 20px;
  }

  .foto-grid {
    gap: 20px;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(3, auto);
    grid-template-areas:
    "i1 i1 i2"
    "i3 i4 i2"
    "i3 i5 i5"
    ;
  }
  
  .foto-grid__item.foto-grid__sunset {
    grid-area: i1;
  }

  .foto-grid__item.foto-grid__ice-cream {
    grid-area: i2;
  }

  .foto-grid__item.foto-grid__tape {
    grid-area: i3;
  }

  .foto-grid__item.foto-grid__books {
    grid-area: i4;
  }

  .foto-grid__item.foto-grid__street {
    grid-area: i5;
  }
}

@media (min-width: 1024px) {
  .header__theme-menu {
    justify-self: center;
    align-self: self-start;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .content__section-rows {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .content__section-rows .section__articles {
    grid-column-end: span 2;
  }

  .content__section-columns {
    grid-template-rows: min-content min-content;
  }

  .content__section-columns .section__articles {
    grid-template-columns: 1fr 1fr 1fr;
  }
}